@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500&display=swap);

@charset "UTF-8";

@font-face {
  font-family: FoglihtenNo06;
  font-display: swap;
  src: url("../fonts/FoglihtenNo06_076.woff2") format("woff2"), url("../fonts/FoglihtenNo06_076.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "FoglihtenNo06", sans-serif;
  --main-text-color: #000;
  --default-font-size: 1rem;
  --placeholder: #d9d9d9;
  --green-primary: #1e2e28;
  --green-secondary: #365c48;
  --white-primary: #fffbf6;
  --button-active: #264334;
  --button-hover: #2d4f3d;
  --button-default: #365c48;
  --button-disabled: #686868;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: var(--main-text-color);
  line-height: 1;
  font-weight: 300;
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fffbf6;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 106.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: var(--white-primary);
  border-radius: 32px;
  padding: 72px;
  width: 100%;
  max-width: 816px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.popup__close:focus {
  outline: none;
}

.popup__inner {
  max-width: 600px;
}

.popup__subtitle:not(:last-child) {
  margin-bottom: 0.75rem;
}

.popup__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.popup__form {
  margin-top: 32px;
}

.popup__inputs {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
}

.popup__inputs:not(:last-child) {
  margin-bottom: 1.5rem;
}

.popup__input {
  border: 1px solid var(--green-secondary);
  border-radius: 12px;
  padding: 20px 28px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-secondary);
}

.popup__button {
  margin-top: 24px;
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: var(--second-family);
  font-size: 5.75rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--white-primary);
}

.subtitle {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  color: var(--green-primary);
}

.subtitle_white {
  color: var(--white-primary);
}

.button {
  text-align: center;
  border-radius: 60px;
  padding: 16px 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 1px solid transparent;
}

.button_green {
  background: var(--green-secondary);
  border: 1px solid var(--green-secondary);
}

.navigation-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navigation-slider button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--green-secondary);
  border-radius: 0.625rem;
  width: 32px;
  height: 32px;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
}

.navigation-slider button.swiper-button-disabled {
  pointer-events: none;
  background-color: var(--placeholder);
}

.navigation-slider button.swiper-button-disabled .slider-arrow {
  background: var(--green-primary);
}

.navigation-slider__next-button span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navigation-slider__info {
  background: var(--green-secondary);
  color: var(--white-primary);
  padding: 6px 10px;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.navigation-slider__info::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/icons/touch.svg") 0 0/contain no-repeat;
}

.slider-arrow {
  aspect-ratio: 1/1;
  width: 12px;
  height: 11px;
  mask: var(--icon) center center/contain no-repeat;
  -webkit-mask: var(--icon) center center/contain no-repeat;
  background: var(--white-primary);
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.page_watering {
  padding-bottom: 60px;
}

.page_blog,
.page_seo {
  padding-top: 220px;
  padding-bottom: 152px;
}

.page_inner {
  padding-bottom: 152px;
}

.page__wrapper {
  background-color: var(--white-primary);
  border-radius: 0 0 120px 120px;
  position: relative;
  z-index: 10;
}

.page__bottom {
  background-color: var(--green-primary);
  overflow: hidden;
  padding-top: 120px;
  margin-top: -120px;
  border-radius: 0 0 120px 120px;
}

.element {
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  mask: var(--icon) center center/contain no-repeat;
  -webkit-mask: var(--icon) center center/contain no-repeat;
  background: var(--white-primary);
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.whatsapp-icon {
  display: block;
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  mask: var(--icon) center center/contain no-repeat;
  -webkit-mask: var(--icon) center center/contain no-repeat;
  background: var(--green-secondary);
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.wk-icon {
  display: block;
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  mask: var(--icon) center center/contain no-repeat;
  -webkit-mask: var(--icon) center center/contain no-repeat;
  background: var(--green-secondary);
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.hero-social-icon {
  display: block;
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  mask: var(--icon) center center/contain no-repeat;
  -webkit-mask: var(--icon) center center/contain no-repeat;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
  background: var(--white-primary);
}

.download-icon {
  display: block;
  aspect-ratio: 1/1;
  width: 30px;
  height: 30px;
  mask: var(--icon) center center/contain no-repeat;
  -webkit-mask: var(--icon) center center/contain no-repeat;
  background: var(--white-primary);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  padding: 1.25rem 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header._header-scroll {
  background-color: #000;
}

.header_light._header-scroll {
  background-color: #fff;
  border-bottom: 1px solid var(--green-secondary);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.6875rem;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__phone {
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.header_light .header__phone {
  color: var(--green-primary);
}

.header__phone_mobile {
  display: none;
}

.header__contact-list {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contact-list span a {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.header_light .header__contact-list span a {
  color: var(--green-primary);
}

.header__contact-list span:not(:last-child) {
  margin-bottom: 0.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  position: relative;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  line-height: 130%;
  color: var(--white-primary);
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: var(--green-primary);
  -webkit-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
  background-color: var(--white-primary);
}

.header_light .menu__link {
  color: var(--green-primary);
}

.header_light .menu__link::after {
  background-color: var(--green-primary);
}

.icon-menu {
  display: none;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.footer__top:not(:last-child) {
  margin-bottom: 8rem;
}

.footer__company-info {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.footer__logo img {
  width: 439px;
  height: 124px;
}

.footer__description {
  font-weight: 500;
  line-height: 130%;
  color: var(--green-primary);
}

.footer__link {
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--green-primary);
}

.footer__information {
  display: -ms-grid;
  display: grid;
  gap: 12px;
}

.footer__information li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1rem;
  line-height: 130%;
  color: var(--green-primary);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2rem;
}

.footer__bottom ul li a {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--green-primary);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 175px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer__list_list-style li {
  list-style: inside;
  list-style-type: disc;
}

.menu-footer__list li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.menu-footer__link {
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--green-primary);
  position: relative;
}

.menu-footer__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  -webkit-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
  background-color: var(--green-primary);
}

.menu-footer__topic {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--green-primary);
}

.menu-footer__topic:not(:last-child) {
  margin-bottom: 0.625rem;
}

.hero-block {
  padding-top: 100px;
  position: relative;
  min-height: 772px;
  border-radius: 0 0 120px 120px;
  overflow: hidden;
}

.hero-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-block__container {
  position: relative;
  z-index: 2;
}

.hero-block__content {
  padding-top: 120px;
}

.hero-block__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.hero-block__title_green {
  font-size: clamp(3.375rem, -3.083rem + 8.07vw, 5.313rem) !important;
}

.hero-block__list li {
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.hero-block__list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.hero-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero-block_xl .header-block__row_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}

.hero-block__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-top: 120px;
}

.hero-block__column .hero-block__content {
  padding: 0;
}

.hero-block__column .hero-block__row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero-block__column .hero-block__row_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 544px;
          flex: 0 0 544px;
}

.hero-block__column .hero-block__title {
  max-width: 850px;
  font-size: clamp(3.375rem, -4.542rem + 9.9vw, 5.75rem);
}

.hero-block__column .hero-block__text {
  margin-bottom: 2rem !important;
  font-size: clamp(0.875rem, 0.042rem + 1.04vw, 1.125rem);
}

.hero-block__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: left;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.hero-block__text:not(:last-child) {
  margin-bottom: 5.625rem;
}

.hero-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.hero-block__actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.hero-block__button {
  font-size: 16px;
}

.our-services {
  padding: 60px 0;
}

.our-services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services__header:not(:last-child) {
  margin-bottom: 2rem;
}

.our-services__slider {
  overflow: visible !important;
}

.our-services__slide {
  position: relative;
  padding-bottom: 30.9%;
  width: 684px;
}

.our-services__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1.25rem;
  overflow: hidden;
}

.project-info {
  padding-top: 72px;
  padding-bottom: 60px;
}

.project-info__container {
  display: -ms-grid;
  display: grid;
  gap: 32px;
}

.project-info__line {
  max-width: 1104px;
}

.project-info__label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.project-info__label:not(:last-child) {
  margin-bottom: 0.75rem;
}

.project-info__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.contact {
  padding: 60px 0;
}

.contact__inner {
  padding: 30px;
  background: var(--green-primary);
  color: #fff;
  border-radius: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.contact__description {
  font-size: 18px;
  max-width: 550px;
  line-height: 120%;
}

.contact__description:not(:last-child) {
  margin-bottom: 0.75rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__input {
  border: 1px solid var(--green-secondary);
  border-radius: 12px;
  padding: 20px 28px;
  background: var(--white-primary);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.01em;
  width: 100%;
  color: var(--green-secondary);
}

.contact__input:focus {
  outline: none;
}

.contact__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.contact__telegram-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  border: 1px solid var(--green-secondary);
  border-radius: 25px;
  padding: 10px 25px;
  background: var(--white-primary);
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.contact__telegram-btn span {
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 130%;
  font-size: 22px;
  letter-spacing: -0.01em;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  color: var(--green-secondary);
}

.contact__telegram-btn_green {
  background-color: var(--green-secondary);
}

.contact__telegram-btn_green span {
  color: var(--white-primary);
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer-block {
  padding-top: 60px;
  padding-bottom: 120px;
}

.footer-block__subtitle {
  text-transform: uppercase;
  text-align: right;
}

.footer-block_bottom {
  padding-bottom: 0;
}

.blog_inner {
  padding-bottom: 120px;
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.blog__header:not(:last-child) {
  margin-bottom: 2rem;
}

.blog__image {
  position: relative;
  padding-bottom: 30.1%;
}

.blog__image:not(:last-child) {
  margin-bottom: 4.5rem;
}

.blog__image img {
  border-radius: 60px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog__description {
  max-width: 1104px;
}

.blog__description p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.blog__description p:not(:last-child) {
  margin-bottom: 30px;
}

.blog-header__subtitle {
  max-width: 900px;
}

.blog-header__date {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.our-works {
  padding: 60px 0;
}

.our-works_bg {
  background-color: #1e2e28;
}

.our-works__header:not(:last-child) {
  margin-bottom: 2rem;
}

.our-works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.our-works__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.our-works__text:not(:last-child) {
  margin-bottom: 24px;
}

.our-works__text_white {
  color: var(--white-primary);
}

.our-works__navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.our-works__slider {
  overflow: visible !important;
}

.our-works__slide {
  position: relative;
  padding-bottom: 30.9%;
  width: 544px;
}

.our-works__slide img {
  border-radius: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-steps {
  padding: 60px 0;
}

.main-steps__top:not(:last-child) {
  margin-bottom: 2rem;
}

.main-steps__body {
  max-width: 600px;
  margin: 0 auto;
}

.main-steps__subtitle:not(:last-child) {
  margin-bottom: 0.75rem;
}

.main-steps__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.main-steps__text:not(:last-child) {
  margin-bottom: 2rem;
}

.main-steps__descr {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.main-steps__descr:not(:last-child) {
  margin-bottom: 2rem;
}

.main-steps__list {
  counter-reset: list-counter;
  /* Initialize the counter */
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.main-steps__list:not(:last-child) {
  margin-bottom: 2rem;
}

.main-steps__item {
  counter-increment: list-counter;
  /* Increment the counter */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.main-steps__item::before {
  content: counter(list-counter, decimal-leading-zero) ". ";
  /* Display the counter value */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: var(--green-primary);
}

.services {
  padding: 60px 0;
}

.services_bg {
  background-color: #1e2e28;
  padding-top: 120px;
}

.services__subtitle:not(:last-child) {
  margin-bottom: 2rem;
}

.services__slider {
  overflow: visible !important;
}

.services__image {
  position: relative;
  height: 569px;
  width: 404px;
}

.services__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services__image:not(:last-child) {
  margin-bottom: 1.5rem;
}

.services__name {
  max-width: 404px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.reviews {
  background-color: #1e2e28;
  padding-top: 60px;
}

.reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.reviews__header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.reviews__navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.reviews__slider {
  overflow: visible !important;
}

.reviews__slide {
  width: 648px;
}

.slide-reviews {
  border-radius: 12px;
  padding: 32px;
  background: var(--white-primary);
}

.slide-reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.slide-reviews__header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.slide-reviews__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  height: 3rem;
  overflow: hidden;
}

.slide-reviews__avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide-reviews__by {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--green-primary);
}

.slide-reviews__date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--green-primary);
}

.slide-reviews__body {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.questions {
  border-radius: 0 0 120px 120px;
  padding: 60px 0;
}

.questions_bg {
  background-color: #1e2e28;
  padding-bottom: 120px;
}

.questions__inner {
  max-width: 680px;
}

.questions_vacancies .questions__inner {
  max-width: 950px;
  margin: 0 auto;
}

.questions__subtitle:not(:last-child) {
  margin-bottom: 0.75rem;
}

.questions__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.questions__text:not(:last-child) {
  margin-bottom: 2rem;
}

.questions__text_black {
  color: var(--green-primary);
}

.questions_vacancies .questions__text {
  max-width: 544px;
}

.questions_vacancies .questions__form {
  max-width: 544px;
}

.questions__inputs {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
}

.questions__inputs:not(:last-child) {
  margin-bottom: 1.5rem;
}

.questions__input {
  border: 1px solid var(--green-secondary);
  border-radius: 12px;
  padding: 20px 28px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-secondary);
}

.cards {
  padding: 60px 0;
}

.cards__subtitle:not(:last-child) {
  margin-bottom: 0.75rem;
}

.cards__inner {
  padding: 48px;
}

.cards__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
  max-width: 605px;
}

.cards__text:not(:last-child) {
  margin-bottom: 2rem;
}

.cards-slide {
  background: var(--green-primary);
  border-radius: 20px;
  width: 544px;
}

.cards-slide__label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.cards-slide__label:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cards-slide__list li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.cards-slide__list li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.cards-slide__list_full li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.cards-slide__list_full li::before {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  background: url("../img/icons/check.svg") 0 0 no-repeat;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.check::before {
  content: "";
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  height: 24px;
  background: url("../img/icons/check.svg") 0 0 no-repeat;
}

.cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  text-decoration: line-through;
  color: rgba(255, 251, 246, 0.5) !important;
}

.cross::before {
  content: "";
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  height: 24px;
  background: url("../img/icons/cross.svg") 0 0 no-repeat;
}

.info {
  padding: 60px 0;
}

.info__subtitle {
  display: -ms-grid;
  display: grid;
}

.info__subtitle span:nth-child(1) {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  color: var(--green-primary);
}

.info__subtitle span:nth-child(2) {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 55px;
  line-height: 130%;
  color: var(--green-primary);
}

.info__subtitle:not(:last-child) {
  margin-bottom: 1.25rem;
}

.info__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.info__text:not(:last-child) {
  margin-bottom: 2rem;
}

.info__label {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2.8125rem;
  line-height: 130%;
  color: var(--green-primary);
}

.info__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.info__equipment {
  font-weight: 700;
  font-size: 50px;
}

.example {
  padding: 60px 0;
}

.example__subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}

.example__image:not(:last-child) {
  margin-bottom: 1.5rem;
}

.example__image img {
  max-width: 100%;
}

.example__actions {
  text-align: center;
}

.example__actions a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
  background: var(--green-secondary);
  border-radius: 60px;
  padding: 16px 32px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.why {
  padding: 60px 0;
}

.why__text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.why__text:not(:last-child) {
  margin-bottom: 2rem;
}

.partners_bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1e2e28;
}

.partners__subtitle {
  text-align: center;
}

.partners__subtitle:not(:last-child) {
  margin-bottom: 2rem;
}

.partners__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 1rem;
}

.partners__item img {
  max-width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  width: 264px;
  height: 261px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contacts__subtitle:not(:last-child) {
  margin-bottom: 2rem;
}

.contacts__label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.contacts__label:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contacts__body {
  position: relative;
}

.contacts__info {
  position: absolute;
  top: 0;
  left: 96px;
  z-index: 10;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  padding: 96px 48px 48px 48px;
  background: var(--green-primary);
  display: -ms-grid;
  display: grid;
  width: 544px;
  gap: 0.75rem;
}

.contacts__info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--white-primary);
}

.contacts__map {
  border-radius: 42px;
  width: 100%;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
}

.vacancies {
  padding-bottom: 60px;
}

.vacancies__info {
  max-width: 1104px;
}

.vacancies__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid var(--green-primary);
  padding: 16px 0px;
}

.vacancies__descr {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.vacancies__salary {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--green-primary);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 80em) {
  .title {
    font-size: 3.375rem;
  }

  .button {
    font-size: 0.875rem;
  }

  .page_blog,
  .page_seo {
    padding-top: 130px;
    padding-bottom: 124px;
  }

  .page_inner {
    padding-bottom: 124px;
  }

  .header__container {
    gap: 2rem;
  }

  .header__logo img {
    width: 179px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .header__phone {
    font-size: 0.875rem;
  }

  .header__contact-list span a {
    font-size: 0.875rem;
  }

  .header__contact-list span:not(:last-child) {
    margin-bottom: 0;
  }

  .header__contact-list span:nth-child(3) {
    display: none;
  }

  .header__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }

  .menu__list {
    gap: 1.25rem;
  }

  .menu__link {
    font-size: 0.75rem;
  }

  .footer__top {
    gap: 60px;
  }

  .footer__logo img {
    width: 350px;
    height: 100px;
  }

  .footer__information li {
    font-size: 0.875rem;
  }

  .footer__bottom ul li a {
    font-size: 0.75rem;
  }

  .menu-footer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    gap: 3.75rem;
  }

  .hero-block__content {
    padding-top: 48px;
  }

  .hero-block__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .hero-block_xl .header-block__row_content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.25rem;
            flex: 0 0 31.25rem;
  }

  .hero-block__column .hero-block__row_content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.4375rem;
            flex: 0 0 20.4375rem;
  }

  .hero-block__column {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 48px;
  }

  .hero-block__text {
    font-size: 0.875rem;
  }

  .hero-block__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .our-services {
    padding: 46px 0;
  }

  .our-services__slide {
    width: 327px;
    padding-bottom: 25.4%;
  }

  .project-info {
    padding-bottom: 46px;
  }

  .project-info__label {
    font-size: 1rem;
  }

  .project-info__text {
    font-size: 0.875rem;
  }

  .contact {
    padding: 46px 0;
  }

  .footer-block {
    padding-top: 46px;
    padding-bottom: 92px;
  }

  .blog_inner {
    padding-bottom: 92px;
  }

  .blog__image {
    height: 360px;
  }

  .blog__image:not(:last-child) {
    margin-bottom: 3rem;
  }

  .blog__description p {
    font-size: 0.875rem;
  }

  .blog-header__date {
    display: none;
  }

  .our-works {
    padding: 46px 0;
  }

  .our-works__text {
    font-size: 1.125rem;
  }

  .our-works__slide {
    width: 404px;
    height: 310px;
  }

  .main-steps {
    padding: 46px 0;
  }

  .main-steps__text:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .main-steps__text {
    font-size: 1rem;
  }

  .main-steps__descr:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .main-steps__descr {
    font-size: 1.125rem;
  }

  .main-steps__item {
    font-size: 1rem;
  }

  .services {
    padding: 46px 0;
  }

  .services_bg {
    padding-top: 92px;
  }

  .services__image {
    width: 327px;
    height: 353px;
  }

  .services__name {
    max-width: 327px;
  }

  .services__name {
    font-size: 1rem;
  }

  .reviews {
    padding-top: 46px;
  }

  .reviews__slide {
    width: 410px;
  }

  .slide-reviews__by {
    font-size: 0.625rem;
  }

  .slide-reviews__date {
    font-size: 0.625rem;
  }

  .slide-reviews__body {
    font-size: 0.75rem;
  }

  .questions {
    padding: 46px 0;
  }

  .questions_bg {
    padding-bottom: 92px;
  }

  .cards {
    padding: 46px 0;
  }

  .cards__inner {
    padding: 32px;
  }

  .cards__text {
    font-size: 1rem;
  }

  .cards-slide {
    width: calc(33.33% - 16px);
    min-width: 327px;
  }

  .cards-slide__label:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .cards-slide__label {
    font-size: 1.25rem;
  }

  .cards-slide__list li {
    font-size: 0.875rem;
  }

  .info {
    padding: 46px 0;
  }

  .info__text {
    font-size: 1.125rem;
  }

  .example {
    padding: 46px 0;
  }

  .example__actions a {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .why {
    padding: 46px 0;
  }

  .why__text {
    font-size: 1rem;
  }

  .partners_bg {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .partners__items {
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  }

  .partners__item img {
    width: 158px;
    height: 155px;
  }

  .contacts__label {
    font-size: 1rem;
  }

  .contacts__info {
    padding: 48px;
    width: 409px;
  }

  .contacts__info p {
    font-size: 0.875rem;
  }

  .contacts__map {
    height: 600px;
  }

  .vacancies {
    padding-bottom: 46px;
  }

  .vacancies__descr {
    font-size: 0.875rem;
  }

  .vacancies__salary {
    font-size: 0.875rem;
  }
}

@media (max-width: 106.5em) {
  .header__container {
    gap: 1.25rem;
  }

  .header__phone {
    font-size: 1rem;
  }

  .header__contact-list span a {
    font-size: 1rem;
  }

  .menu-footer {
    gap: 100px;
  }

  .project-info__label {
    font-size: 1.25rem;
  }

  .project-info__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 65.3125em) {
  .footer__top {
    gap: 2rem;
  }

  .menu-footer {
    gap: 2rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 61.99875em) {
  .popup__content {
    padding: 50px 30px;
  }

  .title {
    font-size: 3.5rem;
  }

  .page_blog,
  .page_seo {
    padding-bottom: 96px;
  }

  .page_inner {
    padding-bottom: 96px;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__mail {
    display: none;
  }

  .header__contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
    padding: 130px 30px 30px 30px;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    overflow: auto;
  }

  .header_light .menu__body {
    background-color: #fff;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100px;
    background-color: #000;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .header_light .menu__body::after {
    background-color: #fff;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 4rem;
  }

  .menu__link {
    font-size: 1rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.5625rem;
    height: 1.125rem;
    z-index: 10;
    cursor: pointer;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .header_light .icon-menu span,
  .header_light .icon-menu::before,
  .header_light .icon-menu::after {
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
    width: 20px;
  }

  .icon-menu::after {
    bottom: 0;
    width: 20px;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-footer {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }

  .menu-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .hero-block {
    min-height: 730px;
  }

  .hero-block__title:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .hero-block__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }

  .our-services__slide {
    width: 319px;
    height: 240px;
  }

  .contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-block {
    display: none;
  }

  .our-works__slide {
    width: 243px;
  }

  .questions_vacancies {
    padding-bottom: 0;
  }

  .cards__inner {
    padding: 24px;
  }

  .cards-slide {
    width: 429px;
  }

  .cards-slide__label {
    font-size: 1rem;
  }

  .cards-slide__list li {
    font-size: 1rem;
  }

  .info__subtitle span:nth-child(2) {
    font-size: 2.59375rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .menu__body::after {
    height: 83px;
  }

  .menu__body {
    padding-top: 100px;
  }
}

@media (max-width: 47.99875em) {
  .popup__close {
    top: 20px;
    right: 20px;
  }

  .popup__input {
    padding: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .page_watering {
    padding-bottom: 40px;
  }

  .page_blog,
  .page_seo {
    padding-top: 138px;
    padding-bottom: 62px;
  }

  .page_inner {
    padding-bottom: 62px;
  }

  .page__wrapper {
    border-radius: 0 0 72px 72px;
  }

  .page__bottom {
    border-radius: 0 0 72px 72px;
    margin-top: -72px;
    padding-top: 72px;
  }

  .header {
    padding: 16px 0;
    height: 83px;
  }

  .menu__link {
    font-size: 1rem;
  }

  .footer__top:not(:last-child) {
    margin-bottom: 2rem;
  }

  .footer__top {
    gap: 1rem;
  }

  .footer__company-info {
    gap: 0.75rem;
  }

  .footer__logo img {
    width: 267px;
    height: 73px;
  }

  .footer__description {
    font-size: 0.875rem;
  }

  .footer__link {
    font-size: 0.75rem;
  }

  .footer__information {
    margin-top: 20px;
  }

  .footer__author a {
    display: none;
  }

  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }

  .menu-footer__list li:not(:last-child) {
    margin-bottom: 0.375rem;
  }

  .hero-block {
    border-radius: 0 0 72px 72px;
  }

  .hero-block__title_green {
    font-size: 2rem !important;
  }

  .hero-block__list li {
    font-size: 1rem;
  }

  .hero-block__column .hero-block__title {
    font-size: 2.5rem;
  }

  .hero-block__column .hero-block__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero-block__column .hero-block__button {
    width: 100%;
    text-align: center;
  }

  .our-services__navigation button {
    display: none;
  }

  .project-info {
    padding-top: 48px;
  }

  .contact__description {
    font-size: 1rem;
  }

  .contact__form {
    gap: 16px;
  }

  .contact__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }

  .contact__input {
    height: 52px;
    padding-left: 10px;
  }

  .contact__telegram-btn {
    padding: 5px 15px;
    font-size: 1rem;
  }

  .contact__telegram-btn span {
    font-size: 18px;
  }

  .contact__list {
    gap: 16px;
  }

  .blog__image:not(:last-child) {
    margin-bottom: 2rem;
  }

  .blog__image:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .our-works__text {
    font-size: 1rem;
  }

  .our-works__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .our-works__navigation button {
    display: none;
  }

  .main-steps__text {
    font-size: 0.875rem;
  }

  .main-steps__descr {
    font-size: 1rem;
  }

  .main-steps__list:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .main-steps__list {
    gap: 0.75rem;
  }

  .main-steps__item::before {
    font-size: 1.5rem;
  }

  .main-steps__item {
    font-size: 0.875rem;
  }

  .services__image {
    width: 209px;
    height: 230px;
  }

  .services__name {
    max-width: 209px;
  }

  .reviews__navigation .navigation-slider__info {
    display: none;
  }

  .reviews__slide {
    width: 26.8125rem;
  }

  .slide-reviews__header:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .slide-reviews__by {
    font-size: 0.75rem;
  }

  .slide-reviews__date {
    font-size: 0.75rem;
  }

  .slide-reviews__body {
    font-size: 0.875rem;
  }

  .questions {
    border-radius: 0 0 72px 72px;
  }

  .cards-slide__list li {
    font-size: 0.875rem;
  }

  .info__subtitle span:nth-child(1) {
    font-size: 1.875rem;
  }

  .info__subtitle span:nth-child(2) {
    font-size: 1.21875rem;
  }

  .info__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .info__label {
    font-size: 2rem;
  }

  .partners__items {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .partners__item img {
    width: 100px;
    height: 100px;
  }

  .contacts__info {
    width: 100%;
    left: 0;
    border-radius: 24px 24px 0 0;
  }

  .contacts__map {
    height: 873px;
  }

  .vacancies {
    padding-bottom: 32px;
  }
}

@media (max-width: 29.99875em) {
  .popup__text {
    font-size: 0.875rem;
  }

  .popup__input {
    font-size: 0.875rem;
  }

  .subtitle {
    font-size: 1.8125rem;
  }

  .page_watering {
    padding-bottom: 20px;
  }

  .page_blog,
  .page_seo {
    padding-top: 146px;
    padding-bottom: 30px;
  }

  .page_inner {
    padding-bottom: 30px;
  }

  .page__wrapper {
    border-radius: 0 0 48px 48px;
  }

  .page__bottom {
    border-radius: 0 0 48px 48px;
    margin-top: -42px;
    padding-top: 42px;
  }

  .header__phone {
    display: none;
  }

  .header__phone_mobile {
    display: block !important;
    text-align: left;
  }

  .header__phone_mobile a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px !important;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--green-primary);
  }

  .menu__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.5rem;
  }

  .hero-block {
    min-height: 618px;
  }

  .hero-block {
    border-radius: 0 0 48px 48px;
  }

  .hero-block__content {
    padding-top: 64px;
  }

  .hero-block__list li:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .hero-block__list li {
    font-size: 0.875rem;
  }

  .hero-block__column .hero-block__title {
    font-size: 2rem;
  }

  .hero-block__column {
    padding-top: 64px;
  }

  .our-services {
    padding: 32px 0;
  }

  .our-services__slide {
    width: 170px;
    height: 160px;
  }

  .project-info {
    padding: 32px 0;
  }

  .project-info__container {
    gap: 12px;
  }

  .project-info__label:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .contact {
    padding: 32px 0;
  }

  .contact__inner {
    padding: 30px 20px;
  }

  .contact__description {
    font-size: 0.75rem;
  }

  .footer-block {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .blog_inner {
    padding-bottom: 62px;
  }

  .blog__image {
    height: 320px;
  }

  .our-works {
    padding: 32px 0;
  }

  .main-steps {
    padding: 32px 0;
  }

  .main-steps__button {
    display: block;
    width: 100%;
  }

  .services {
    padding: 32px 0;
  }

  .services_bg {
    padding-top: 64px;
  }

  .services__image {
    width: 170px;
    height: 160px;
  }

  .services__name {
    max-width: 170px;
  }

  .reviews {
    padding-top: 32px;
  }

  .reviews__slide {
    width: 21.875rem;
  }

  .slide-reviews {
    padding: 1.5rem;
  }

  .slide-reviews__header:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .slide-reviews__by {
    font-size: 0.625rem;
  }

  .slide-reviews__date {
    font-size: 0.625rem;
  }

  .slide-reviews__body {
    font-size: 0.625rem;
  }

  .questions {
    padding: 32px 0;
  }

  .questions {
    border-radius: 0 0 48px 48px;
  }

  .questions_bg {
    padding-bottom: 64px;
  }

  .cards {
    padding: 32px 0;
  }

  .cards-slide {
    width: 350px;
    min-width: 350px;
  }

  .cards-slide__label:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .info {
    padding: 32px 0;
  }

  .info__label {
    font-size: 1.25rem;
  }

  .example {
    padding: 32px 0;
  }

  .why {
    padding: 32px 0;
  }

  .partners_bg {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .partners__items {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    gap: 0.625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .partners__item img {
    width: 170px;
    height: 170px;
  }

  .contacts__label:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .contacts__info {
    padding: 24px;
  }

  .contacts__map {
    height: 539px;
  }
}

@media (max-width: 24.375em) {
  .reviews__slide {
    width: 320px;
  }

  .cards-slide {
    width: 300px;
    min-width: 300px;
  }
}

@media (any-hover: hover) {
  .button_green:hover {
    background: var(--white-primary);
    color: var(--green-primary);
  }

  .navigation-slider button:hover {
    background: var(--button-hover);
  }

  .navigation-slider button:hover .slider-arrow {
    background: #fff;
  }

  .header__contact-list span a:hover {
    text-decoration: underline;
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .footer__information li a:hover {
    text-decoration: underline;
  }

  .footer__bottom ul li a:hover {
    text-decoration: underline;
  }

  .footer__social a:hover .hero-social-icon {
    background: var(--green-secondary) !important;
  }

  .menu-footer__link:hover::after {
    width: 100%;
  }

  .hero-block__actions ul li a:hover .hero-social-icon {
    background: var(--green-primary) !important;
  }

  .contact__telegram-btn:hover {
    background-color: #fff;
  }

  .contact__telegram-btn:hover span {
    color: var(--green-primary);
  }

  .contact__telegram-btn:hover .hero-social-icon,
  .contact__telegram-btn:hover .element {
    background: var(--green-primary) !important;
  }

  .contact__list li a:hover .hero-social-icon,
  .contact__list li a:hover .wk-icon,
  .contact__list li a:hover .whatsapp-icon {
    background: #000;
  }

  .example__actions a:hover {
    background-color: var(--white-primary);
    color: var(--green-primary);
    border: 1px solid var(--green-primary);
  }

  .example__actions a:hover .download-icon {
    background: var(--green-primary);
  }

  .contacts__info a:hover {
    text-decoration: underline;
  }
}